/* Réinitialisation de quelques styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Style de la barre de navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Style de la barre de navigation latérale */
.side-nav {
    position: fixed;
    top: 50%;
    right: 3%; /* Positionner à 1/8 de la droite (100% / 8 = 12.5%) */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.side-nav a {
    display: block;
    margin: 10px 0;
    width: 10px; /* Largeur des boutons */
    height: 30px; /* Hauteur des boutons */
    background-color: green; /* Couleur verte pour les boutons */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, transform 0.3s; /* Transition pour la couleur et la transformation */
}

.side-nav a:hover {
    background-color: #00a266; /* Couleur verte foncée lors du survol */
}

.side-nav a:active {
    transform: scale(1.2); /* Agrandir le bouton lors du clic */
     background-color: green; /* Couleur différente pour la section active */
}

/* Style pour indiquer la section visible */
.side-nav a.visible {
    background-color: #00a266; /* Couleur différente pour la section visible */
}




/* Style des sections */
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

/* Style de la section Bannière */
#banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px; /* Ajouter du padding pour éviter que le texte soit trop près du bord */
    background-image: url('../Assets/Banner/me5.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-left: 16.66vw; /* Placer le contenu à 1/6 de la largeur de l'écran */
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-content h1 {
    font-size: 3rem;
    text-align: left;
    font-family: 'Berlin Sans FB', sans-serif;
    color: green;
}

.banner-content h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
    font-family: 'Calibri', sans-serif;
}

.banner-content a, not(.social-buttons){
    text-align: left;
    
    margin-right: 10px; /* Ajouter une marge à droite pour espacer les boutons */
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: left;
    font-family: 'Berlin Sans FB Demi', sans-serif;
     font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 0px; /* Ajouter une marge en haut pour l'espacement */
}

.buttons a {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 10px; /* Ajouter une marge à droite pour espacer les boutons */
}

.buttons a:last-child {
    margin-right: 0; /* Supprimer la marge à droite pour le dernier bouton */
}

.buttons a:hover {
    background-color: #00a266;
}

.banner-content a:hover {
    background-color: #00a266;
}

/* Style pour le bouton de défilement en forme de flèche */
.scroll-down {
    position: absolute;
    bottom: 20px; /* Positionner à 20px du bas de la section */
    left: 60%; /* Positionner à 1/3 de la gauche de la section */
    transform: translateX(-50%);
    font-size: 3rem; /* Augmenter la taille de la flèche */
    color: green;
    text-decoration: none;
    transition: color 0.3s;
}

.scroll-down:hover {
    color: #007BFF; /* Changer la couleur au survol */
}

/* Style pour le texte de l'email */
.contact-info {
    position: absolute;
    bottom: 20px; /* Positionner à 20px du bas de la section */
    left: 30%; /* Positionner à 1/6 de la gauche de la section */
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.email {
    font-size: 1rem; /* Taille de la police du texte de l'email */
    color: white;
    margin-right: 50px; /* Ajouter une marge à droite pour espacer les boutons */
}

/* Style pour les boutons des médias sociaux */
.social-buttons {
    display: flex;
    flex-direction: row;
}

.social-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
}

.social-button.facebook {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg'); /* Logo Facebook */
}

.social-button.linkedin {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/01/LinkedIn_Logo.svg'); /* Logo LinkedIn */
}

.social-button.instagram {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png'); /* Logo Instagram */
}

.social-button:hover {
    opacity: 0.7; /* Effet de survol */
}


.social-button.facebook {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg'); /* Logo Facebook */
}

.social-button.linkedin {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg'); /* Logo LinkedIn */
}

.social-button.instagram {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png'); /* Logo Instagram */
}

.social-button:hover {
    opacity: 0.7; /* Effet de survol */
}

/* Ajouter une classe pour le bouton "Projects" pour des ajustements futurs si nécessaire */
.projects-button {
    margin-right: 0; /* Dernier bouton sans marge à droite */
}

/* Style de la section Projets */
#projects {
    background-color: #f4f4f4;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Style de la section About Me */
#about-me {
    background-color: #eaeaea;
}

#about-me h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Style de la section My Skills */
#skills {
    background-color: #d4d4d4;
}

#skills h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
